.allpage{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: calc( 100% - 71px );
    background-color: white;
    z-index:10;
  }
  .centerpage{
    width: 700px;
    height: 100px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }